<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="Access-Control-Allow-Origin" content="*"> -->
    <!-- <header name = "Access-Control-Allow-Origin" value = "*" /> -->

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!-- Latest compiled and minified CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <!-- jQuery library -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- Latest compiled JavaScript -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
    <!-- Latest jQuery slim minified -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- FAVICO -->
    <link rel="shortcut icon" type="image/x-icon" href="https://image.ibb.co/c829L7/logo_v5_small.gif" >
    <!-- My JS -->
    <!-- <script src="/assets/js/wallet.js"></script> -->
    {% capture scripts %}
      {% include js/wallet.js %}
    {% endcapture %}
    <script>{{ scripts | uglify | strip }}</script>
  </head>
  <body>
    <section class="page-header">
      <div class="layer-page-header">
        <a class="main-title" href="{{site.url}}"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
        <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <!-- <hr> -->
        <!-- MENU -->
        <a href="{{site.url}}/index" class="btn">About</a>
        <a href="{{site.url}}/install" class="btn">Installation</a>
        <a href="{{site.url}}/usage" class="btn">Usage</a>
        {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn" target="_blank">View on GitHub</a>
        {% endif %}
      </div>
      <!-- //MENU -->
    </section>

    <section class="main-content">
		{{ content }}
		<div id="wallet1" class="wallet">
      <!-- WALLET -->
      <!-- INIT -->
			<h2 id="wall-init" class="wall-head">Initialization </h2>
			<div id="wall-ctnt1" class="wall-ctnt">
				{% capture wallet-init %}{% include wallet/init.md %}{% endcapture %}
				{{ wallet-init | markdownify }}
      </div>
      <!-- CONFIG -->
			<h2 id="wall-config" class="wall-head">Configure TEMPest </h2>
			<div id="wall-ctnt4" class="wall-ctnt">
				{% capture wallet-config %}{% include wallet/config.md %}{% endcapture %}
				{{ wallet-config | markdownify }}
      </div>
      <!-- LIST -->
      <h2 id="wall-list" class="wall-head">List targets </h2>
      <div id="wall-ctnt3" class="wall-ctnt">
        {% capture wallet-list %}{% include wallet/list.md %}{% endcapture %}
        {{ wallet-list | markdownify }}
      </div>
      <!-- ADD -->
			<h2 id="wall-add" class="wall-head">Add targets </h2>
			<div id="wall-ctnt2" class="wall-ctnt">
				{% capture wallet-add %}{% include wallet/add.md %}{% endcapture %}
				{{ wallet-add | markdownify }}
      </div>
      <!-- RM -->
      <h2 id="wall-rm" class="wall-head">Remove targets </h2>
      <div id="wall-ctnt5" class="wall-ctnt">
        {% capture wallet-rm %}{% include wallet/rm.md %}{% endcapture %}
        {{ wallet-rm | markdownify }}
      </div>
      <!-- RM -->
      <h2 id="wall-start" class="wall-head">Start TEMPest </h2>
      <div id="wall-ctnt6" class="wall-ctnt">
        {% capture wallet-start %}{% include wallet/start.md %}{% endcapture %}
        {{ wallet-start | markdownify }}
      </div>
      <!-- HELP -->
      <h2 id="wall-help" class="wall-head">Get help from TEMPest </h2>
      <div id="wall-ctnt7" class="wall-ctnt">
        {% capture wallet-help %}{% include wallet/help.md %}{% endcapture %}
        {{ wallet-help | markdownify }}
      </div>
			<!-- //WALLET -->
		</div>

      <footer class="site-footer">
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">TEMPest</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
        <span class="site-footer-credits"><strong><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=TQYU8BPPV5YWA" target="_blank" title="Redirects to Paypal">Donation :moneybag:</a></strong></span>
      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
